{% extends 'base.html' %}

{% block content %}

<p>Alas! What are you, after all, my written and painted <strong>conclusions</strong>! Not long ago you were so variegated, young and malicious, so full of thorns and secret spices, that you made me sneeze and laugh&mdash;and now? You have already doffed your novelty, and some of you, I fear, are ready to become science, so immortal do they look, so pathetically honest, so tedious!</p>
<p>And was it ever otherwise? What <strong>conclusions</strong> then do we write and paint, we mandarins with Chinese brush, we immortalizers of <strong>conclusions</strong> which <em>lend</em> themselves to writing, what are we alone capable of painting? Alas, only that which is just about to fade and begins to lose its odor!</p>
<p>Alas, only exhausted and departing storms and belated yellow sentiments! Alas, only birds strayed and fatigued by flight, which now let themselves be captured with the hand&mdash;with <em>our</em> hand! We immortalize what cannot live and fly much longer, <strong>conclusions</strong> only which are exhausted and mellow!</p>
<p>And it is only for your <em>afternoon</em>, you, my written and painted <strong>conclusions</strong>, for which alone I have colors, many colors, perhaps, many variegated softenings, and fifty yellows and browns and greens and reds;&mdash;but nobody will divine thereby how ye looked in your morning, you sudden sparks and marvels of my solitude, you, my old, beloved&mdash;<em>incorrect</em> conclusions!</p>
{% endblock %}
