{% extends 'base.html' %}

{% block content %}
<p>On February 15, 2021, a <strong>star</strong> was born...</p>
<p>Unrelated to that, I also tried to predict water availability in Italy.</p>
<p><strong>Follow along on GitHub!</strong></p>
<ul>
    <li>
        <a href="https://github.com/cshields143/acea_kaggle">acea_kaggle</a> - code &amp; notebooks for the project itself
    </li>
    <li>
        <a href="https://github.com/cshields143/bilancino_pet">bilancino_pet</a> - compute potential evapotranspiration using Thornthwaite's method
    </li>
    <li>
        <a href="https://github.com/cshields143/acea_heroku">acea_heroku</a> - source for this very website that you're on right now
    </li>
</ul>
<h1>DON'T FORGET TO <code>PUBLIC</code> YOUR REPO</h1>
{% endblock %}
